// Colors
$htmlBackgroundColor    : #f8fafc;
$htmlBackgroundColorTo  : #d2dbdc;
$htmlForegroundColor    : #7C818B;
$bodyColor              : #4b4b4b;
$panelHeader            : #eeeeee;
$mainBlueColor          : #336699;
$headingsColor          : #353941;
$linksColor             : #3175A6;
$linksActiveColor       : #32475E;
$selectionColor         : #3175A6;
$borderColor            : #D9DBE5;
$toolbarBorderColor     : #31A66C;
$messagesPanel          : #e0dad6;

// Fonts
$contentFontFamily     : 'Titillium Web', sans-serif;
$specialFontFamily     : 'Arial', Helvetica, sans-serif;

// Mixins
